* {
  box-sizing: border-box;
}

h1{
  color: rgb(7, 10, 14);
}

body {
  margin: 0;
}

html {
  font-family: sans-serif;
}

#backdrop {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.75);
  z-index: 10;
  pointer-events: none;
  display: none;
}

#backdrop.visible {
  display: block;
  pointer-events: all;
}

label {
  font-weight: bold;
  margin: 0.5rem 0;
  color: #464646;
}

input {
  font: inherit;
  border: 1px solid #ccc;
  padding: 0.4rem 0.2rem;
  color: #383838;
}

input:focus {
  outline: none;
  background: #D9D6D1;
}

.modal {
  position: fixed;
  z-index: 100;
  background: white;
  border-radius: 10px;
  width: 40rem;
  top: 30vh;
  left: calc(50% - 20rem);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  display: none;
}

.modal.visible {
  display: block;
  animation: fade-slide-in 0.3s ease-out forwards;
}

.modal .modal__content {
  padding: 1rem;
  display: flex;
  width: 40rem;
  flex-direction: column;
}

.modal .modal__subject {
  margin: 0;
  color: #383838;
}

.modal .modal__actions {
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
}

#btn-insert,
#btn-cancel {
  margin: 10px;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  border-radius: 10px;
}

#btn-insert {
  background-color: #b7c9fa;
  color: #f1f4fe;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid #f1f4fe;
}

#btn-insert:hover {
  background-color: #f1f4fe;
  color: #418CF1;
}

#btn-cancel:hover {
  background-color: #b7c9fa;
  color: #f1f4fe;
}

#btn-cancel {
  background-color: transparent;
  color: #383838;
  border: none;
}

header {
  background-image: url("/assets/images/img_calculator_2_1500x600.jpeg");
  background-position: center;
  width: 100%;
  height: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2.5rem;
  gap: 1rem;
}

header h1 {
  color: #383838;
  padding: 10px;
  box-shadow: 0 0 7px 7px #D9D6D1;
  border-radius: 10px;
  background-color: transparent;
  font-weight: bold;
  font-size: 3rem;
}

.your-average {
  box-shadow: 0 0 7px 7px #383838;
  border-radius: 10px;
  height: 6.9rem;
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.your-average h2 {
  color: #383838;
  border-radius: 5px;
  background-color: transparent;
  font-weight: bold;
}

.grade-display {
  width: 100px;
  height: 100px;
  background-color: #D9D6D1;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 1rem;
  font-size: 4rem;
  gap: 1rem;
  box-shadow: 0 4px 8px #383838;
}

.grade-display__inside {
  background: linear-gradient(145deg, #007bff, #0056b3);
  border: 3px #D9D6D1 solid;
  width: 85px;
  height: 85px;
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  position: relative;
}

.grade-display__inside::before {
  content: '';
  position: absolute;
  top: 15%;
  left: 15%;
  width: 70%;
  height: 30%;
  background: #D9d6d1;
  border-radius: 50%;
  transform: rotate(-25deg);
  filter: blur(10px);
}

.grade-display span {
  align-items: center;
  justify-content: center;
  color: #383838;
  font-weight: bold;
}

#btn-header {
  background-color: #418CF1;
  color: #D9D6D1;
  padding: 1rem;
  font-size: 1rem;
  border-radius: 10px;
  cursor: pointer;
  border: 1px solid #f1f4fe;
}

#btn-header:focus {
  outline: 2px solid #418CF1;
  outline-offset: 4px;
}

#btn-header:hover {
  background-color: #D9D6D1;
  border: 1px solid #418CF1;
  color: #418CF1;
}

.entry-averages {
  width: 60rem;
  max-width: 90%;
  height: 10rem;
  font-size: 3rem;
  display: flex;
  box-shadow: 0 0 7px 7px #383838;
  margin: 15rem auto;
  border-radius: 8px;
  text-align: center;
  justify-content: center;
}

.subject-list {
  list-style: none;
  width: 60rem;
  max-width: 90%;
  margin: 1rem auto;
  display: grid;
  gap: 1rem;
  column-gap: 20px;
  grid-template-columns: 1fr;
  padding: 0;
}

.subject-border {
  background-color:#67717A;
  justify-content: space-between;
  display: flex;
  max-width: 90%;
  width: 70rem;
  flex-direction: column;
  border-radius: 10px;
  text-align: center;
  color: #f1f4fe;
  box-shadow: 0 0 7px 7px #383838;
}

.card-average {
  display: flex;
  justify-content: space-between;
}

.subject-border h2 {
  font-size: 2rem;
  padding: 20px;
  height: 60px;
}

.toggle-btn {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 25px;
  padding: 0;
  margin: 50px;
}

.toggle-btn span {
  display: block;
  width: 100%;
  height: 4px;
  background-color: #f1f4fe;
  border-radius: 2px;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.toggle-btn.active span:nth-child(1) {
  transform: translateY(10px) rotate(45deg);
}

.toggle-btn.active span:nth-child(2) {
  opacity: 0;
}

.toggle-btn.active span:nth-child(3) {
  transform: translateY(-10px) rotate(-45deg);
}

thead {
  font-size: 1.5rem;
  color: #007bff;
  margin-top: 10px;
}

tbody {
  font-size: 2rem;
  font-weight: bold;
  align-content: center;
}

.subject-table {
  background-color: #f1f4fe;
  margin: 0.5rem 0.5rem;
  height: 150px;
  border-radius: 10px;
  color: #383838; 
}

.hidden {
  display: none;
}

.subject-result {
  display: flex;
  align-items: center;
  justify-content: space-around; 
  gap: 1rem;
  padding-top: 20px;
}

.lecture-list__img {
  max-width: 60px; 
  max-height: 60px;
  width: auto;
  height: auto;
}

.result-table {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.span-result {
  font-size: 1rem; 
  font-weight: bold;
  color: #383838;
}